.discover-wrapper {
  text-align: center;

  .heading {
    padding-bottom: 30px;

    h1 {
      font-size: 60px;
      letter-spacing: $font-spacing;
      margin-right: -$font-spacing;
      color: $color-three;
      font-weight: $font-regular;
      padding-bottom: 30px;
    }

    p {
      font-size: 30px;
      letter-spacing: $font-spacing;
    }
  }
}
