

/* SUBSCRIBE SECTION STYLES*/

.subscribe {
  height: 100vh;
  position: relative;
  margin-top: 50px;

  .subscribe-title {
    position: absolute;
    top: -.5%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 100px;
    font-weight: $font-semibold;
    letter-spacing: $font-spacing;
    margin-right: -$font-spacing;
    white-space: nowrap;

    span {
      font-weight: $font-bold;
    }
  }

  .subscribe-background {
    position: absolute;
    width: 100%;
    height: 95%;
    bottom: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .artist {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .artist-data {
      position: relative;
      width: 100%;
      height: 100%;

      .artist-image {
        position: absolute;
        top: 15%;
        right: 18%;
        width: 450px;
        height: 600px;
      }

      .artist-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .artist-name {
        position: absolute;
        margin: 0;
        top: 41%;
        right: 29.5%;
        z-index: 1;
        font-size: 100px;
        letter-spacing: $font-spacing;
        font-weight: $font-black;
      }

      .artist-name .line {
        display: block;
      }

      .artist-name .second-line {
        margin-left: 80px;
      }

      .second-line span {
        color: $color-one;
      }
    }
  }

  .subscribe-offer {
    position: absolute;
    top: 70%;
    right: 16%;
    text-align: right;
    font-size: 40px;
    margin-top: 30px;
    letter-spacing: $font-spacing;

    h3, p {
      margin: 0;
    }

    h3 {
      font-weight: $font-bold;
      color: $color-three;
    }
  }

  a[href="subscribe-button"] {
    position: absolute;
    top: 48%;
    left: 19%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 310px;
    height: 120px;
    background-color: $color-one;
    border-radius: 10px;
    font-size: 40px;
    letter-spacing: $font-spacing;
    font-weight: $font-bold;
  }
}
