.splash {
  height: 100vh;
  background-image: linear-gradient(0deg, rgba(19,19,19,1) 0%, rgba(19,19,19,1) 6%, rgba(19,19,19,0.9) 25%, rgba(19,19,19,0) 70%), url('../../media/images/background.jpg');
  background-position: center center;
  background-size: cover;

  .main-title {
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
      margin: 0;
      font-size: 12.5em;
      padding-left: .6em;
      letter-spacing: .6em;
      font-weight: $font-black;

      @media(max-width: 1439px) {
        font-size: 11em;
        padding-left: .5em;
        letter-spacing: .5em;
      }

      @media(max-width: 1024px) {
        font-size: 8em;
        padding-left: .4em;
        letter-spacing: .4em;
      }

      @media(max-width: 768px) {
        font-size: 7em;
        padding-left: .3em;
        letter-spacing: .3em;
      }

      @media(max-width: 425px) {
        font-size: 6em;
        padding-left: .2em;
        letter-spacing: .2em;
      }
    }

    h2 {
      margin: 30px 0 0 0;
      font-size: 2em;
      padding-left: .2em;
      letter-spacing: .2em;
      font-weight: $font-black;

      span {
        padding-bottom: 1em;
        display: block;
        text-align: center;
      }
    }
  }
}
