.subscribe {
  height: 100vh;
  position: relative;

  .subscribe-background {
    position: absolute;
    bottom: 0;
    height: 95%;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .subscribe-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    margin: 0;
    text-align: center;
    white-space: nowrap;
    font-size: 6.25rem;
    letter-spacing: 1.5rem;
    padding-left: 1.5rem;

    @media (max-width: 1440px) {
      font-size: 5.5rem;
    }

    @media (max-width: 1024px) {
      font-size: 4.5rem;
      letter-spacing: 1rem;
    }

    @media (max-width: 786px) {
      font-size: 4rem;
      letter-spacing: .3rem;
    }

    @media (max-width: 425px) {
      font-size: 2.5rem;
      letter-spacing: .3rem;
      top: 2%;
    }

    span {
      font-weight: $font-black;
    }
  }

  .artist-name {
    position: absolute;
    font-size: 6.25rem;
    letter-spacing: 1rem;
    font-weight: $font-black;
    z-index: 1;
    top: 40%;
    left: 41%;

    @media (max-width: 1024px) {
      top: 20%;
      left: 18%;
    }

    @media (max-width: 786px) {
      font-size: 5rem;
      top: 30%;
    }

    @media (max-width: 425px) {
      font-size: 3rem;
      letter-spacing: .5rem;
      top: 30%;
      left: 10%;
    }

    .first-line {
      display: block;
    }

    .second-line {
      margin-left: 70px;
    }

    .coloured-part {
      color: $color-one;
    }
  }

  .artist-image {
    position: absolute;
    height: 600px;
    width: 450px;
    top: 20%;
    right: 20%;

    @media (max-width: 1024px) {
      top: 10%;
      right: 10%;
    }

    @media (max-width: 425px) {
      height: 350px;
      width: 250px;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .subscribe-offer {
    position: absolute;
    font-size: 2.5rem;
    letter-spacing: .5rem;
    right: 18%;
    top: 80%;

    @media (max-width: 1024px) {
      top: 70%;
      right: 10%;
    }

    @media (max-width: 425px) {
      font-size: 1.5rem;
    }

    h3, p {
      margin: 0;
      text-align: right;
    }
  }

  a {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 130px;
    background-color: $color-one;
    border-radius: 10px;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    top: 60%;
    right: 65%;

    @media (max-width: 1024px) {
      top: 85%;
      left: 50%;
      transform: translateX(-50%);
    }

    @media (max-width: 425px) {
      width: 250px;
      height: 100px;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
