body {
  font-family: $font-text;
  font-weight: $font-semibold;
  color: $color-two;
  background-color: $color-four;
}

a {
  text-decoration: none;
  color: $color-two;
}

#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}


#search {
  .not-found {
    display: none;
  }

  > * {
    display: block;
  }
}

// * {
//   outline: 1px solid #f00 !important;
// }


// .active {
//     -webkit-animation: fadeIn .5s ease-in;
//     animation: fadeIn .5s ease-in;
// }
//
// .animate-out {
//     -webkit-transition: opacity .5s;
//     transition: opacity .5s;
//     opacity: 0;
// }
//
// @-webkit-keyframes fadeIn {
//     from { opacity: 0; }
//     to { opacity: 1; }
// }
//
// @keyframes fadeIn {
//     from { opacity: 0; }
//     to { opacity: 1; }
// }
