$color-one: #CF383E;
$color-two: #FFF;
$color-three: #BFBFBF;
$color-four: #131313;

$font-text: 'Source Sans Pro', sans-serif;

$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;

$font-spacing: .2em;
